.App {
  font-family: sans-serif;
  text-align: center;
}
.box {
  display: flex;
  width: fit-content;
  align-content: center;
  justify-content: center;
  margin: 1rem auto 2rem;
  padding: 1rem 1rem;
  color: red;
  border: 2px solid darkred;
  box-shadow: 0px 0px 10px 2px red;
}
